[webservers]
# We name the host 'webserver' for Ansible, but tell it the key is in the 'web' folder
webserver ansible_host=192.168.56.10 vagrant_folder=web

[dbservers]
# We name the host 'dbserver' for Ansible, but tell it the key is in the 'db' folder
dbserver ansible_host=192.168.56.11 vagrant_folder=db

[all:vars]
ansible_user=vagrant
db_password=mysecretpassword
ansible_user=vagrant
# "{{ inventory_dir }}" points to inventories/staging/
# we go up two levels to reach the project root where .vagrant lives
ansible_ssh_private_key_file="{{ inventory_dir }}/../../.vagrant/machines/{{ vagrant_folder }}/virtualbox/private_key"